@import url('https://fonts.googleapis.com/css2?family=Anton&family=Domine:wght@400;700&display=swap');

/*   
Colors : 
#2F3137 jet 
#8fbbcc light gray
#A6EBC9 magic mint
#FF4000 red orange
#FFC43D orange yellow
*/

body {
    line-height: 1.2;
    font-family: 'Anton', sans-serif;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Domine', serif;
  }

a{
  color: #FF4000;
}
/*-------------------- HEADER --------------------*/

header {
    background-color: #2F3137;
    padding: 0 0 0.5em 0;
}

.header-grid {
  display:grid;
  width: 100%;
  grid-template-columns: repeat(4, auto);
}
header h1 {
  font-size: 0.8rem;
  grid-column: 3/4;
  align-self: center;
  color: black;
}

.header-logo {
  width: 10vw;
  padding: 10px;
  grid-column: 2/3;
  align-self: center;
}

.social {
  margin-right: 20px;
  grid-column: 4/5;
  align-self: center;
}
.social img {
  width: 10vw;
}
/*-------------------- NAV --------------------*/
.hamburgerMenu {
  order: -1;
  position: relative;
  width: 80px;
}

#hamburgerButton {
  background:none;
  color:#fff;
  border: 0;
  line-height: 0.9;
  font-size: 2.5em;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

nav ul {
  display: none;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
nav ul.open {
  display: block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: #FFC43D;
  padding: .5em;
}
nav ul li a:hover {
  background-color: rgba(255, 196, 61, 1);
  color: #2F3137;
}

/*-------------------- HEADER DATE --------------------*/
#currentdate, section h2, .basefooter {
  display: block;
  font-size: 1rem;
  color: #FFC43D;
  padding: .5em;
  background-color: rgba(0,0,0,.1);
  margin: 0 1em 0 1em;
}
/*-------------------- MAIN --------------------*/
section {
  background-color: #8fbbcc;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0 0 .5em 0;
  margin: 0 0 .5em 0;
}
section img {
  padding: .5em;
  width: 100%;
  box-sizing:border-box;
}

/*-------------------- HERO --------------------*/
.hero {
  position: relative;
  
}
.hero img{
  width: 100%;
  box-sizing: border-box;
}
.hero div{
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 100px;
  width: 150px;
  padding: 0.5em;
  border-radius: 15px;
  background:rgba(255, 196, 61, 1);
  color: white;
  box-shadow: 0 0 20px black;
}
.welcome{
  position: absolute;
  top:0;
  margin-left: 1em;
  z-index:1;
  background: none;
  color: black;
}

/*-------------------- MEDIA --------------------*/
.spotlight{
  min-height: 300px;
  background-color: #FFC43D;
  margin: .5em;
}
.spotlight img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  max-width: 400px;
}
/*-------------------- NEWS --------------------*/
.news-article h3{
  margin-bottom: 0;
  margin-top: 0;
}
.news-article a{
  font-size: 1.5em;
}

.news-articles img {
  width: auto;
  box-sizing: border-box;
}

.weather img {
  max-width:300px;
}
/*-------------------- FOOTER --------------------*/
footer {
  display:block;
  background-color: #2F3137;
}
.footer-logo {
  width: 80vw;
}

iframe {
  width: 100%;
  border: 0;
  box-sizing: border-box;
}