@media screen and (min-width: 64em) {
    main {
        max-width: 1400px;
        margin: 0 auto;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
    }
    /*-------------------- NAV --------------------*/
    #hamburgerButton {
		display: none; /* hide hamburger button */
	} 
	
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
    .event {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .weather {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .join {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .join a, .news a{
        color: #32936F;
    }
    .hero{
        grid-row: auto;
        grid-column: 2/3;
    }
    .hero img{
        object-fit: fill;
    }
    .welcome{
        left: 150px;
    }
    .hero div{
        left: 150px;
        top: 350px;
        width: 300px;
        text-align: center;
    }
    .news {
        grid-row: 2/4;
        grid-column: 2/3;
    }
    .media {
        min-width: fit-content;
        grid-row: 1/5;
        grid-column: 3/4;
        flex-direction: column;
    }
    .spotlight {
        width: auto;
        margin: 0.5em 0.5em;
    }
    .spotlight h3, .spotlight p{
        font-size: 0.7em;
        margin: 0;
        padding: 0;
    }
    .spotlight img{
        width: 200px;
    }
    .thirdmedia {
        display: flex;
        flex-direction: column;
    }
}