@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
    font-size: 18px;
    line-height: 1.5;
    font: Helvetica;
}
header, main, footer {
     max-width: 700px;
    margin: 1.5rem auto;
    align-items: center;
}
header {
    background-color: #2E4052;
    height: 400px;
    border-radius: 10px;
    text-align: center;
display: flex;
}

h1 {
    color: rgb(255, 255, 255);
}

h2{
    font-family: "Dancing Script", "Brush Script MT", cursive;
    text-align: center;
    text-shadow: 0px -1px #2E4052;
     border-bottom: 3px solid darkgray;
}

header img {
    margin : 50px 50px;
    float: left;
    height : 300px;
border-radius: 5px;

}

a {
    color: #412234;
    text-decoration: none;
}
a:hover {
    color: #FFC857;
    text-decoration: underline;
  }

footer {
    background-color: #2E4052;
    color : #fff;
    text-align: center;
}